.header {
	list-style-type: none;
	text-align: center;
	padding: 0;
	margin: 0;
}

.header li {
	display: inline-block;
	font-size: .7em;
	padding: 20px;
}

h1 {
	text-align: center;
}

h1, h2 {
    font-family: 'Josefin Sans'';
    color: #233226;
    text-align: center;
}

p {
    font-family:'EB Garamond';
    color: #233226;
}

table {
    font-family: 'Josefin Sans';
    font-size: .9em;
    background-color: #b1cdaf;
    padding: 10px;   
    border-radius: 25px;
    margin: 6px;  
}

th, td {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding: 6px;  
    border-color: #b1cdaf;
    text-align: center;
}

ul {
    list-style: none;
}

.listing {
    font-family: 'EB Garamond';
    color: #3b5b49;
	padding: 0px;
	margin: 0;
    text-align: center;
}

.listing li {
	display: inline-block;
	font-size: .9em;
	padding: 20px;
}


li {
    display: inline;
    margin: 10px;
    text-align: left;
}

a:link {
    color: #233226;
}

a:visited {
    color: #513d2b;
}

a:hover {
    color: #948e73;
}

Footer
