body {
	background-color: #F5F6F1;
	}

.header {
	list-style-type: none;
	text-align: center;
	padding: 0;
	margin: 0;
}

.header li {
	display: inline-block;
	font-size: .7em;
	padding: 20px;
}

.writing {
	list-style-type: none;
	padding: 60px;
}

.writing li {
	list-style-type: none;
}

.me {
	text-align:center;
	padding-top: 40px;
	padding-bottom: 10px;
}

.bio {
	padding: 40px;
}

.projects, .education, .experience {
	padding: 40px;
}

h1 {
	text-align: center;
    font-family: 'Oswald', sans-serif;
    color: #233226;
    text-align: center;
}

.pronouns {
	text-align: center;
	padding: 20px;
}

hr {
 	overflow: visible;
 	text-align: center;
 	line-height: 1px;
 	border-width: 1px 0;
 	border-color: #233226;
 	margin: 40px 40px;
}


hr:after {
	content: "☾";
 	color: #233226;
  	display: inline;
 	background-color: #F5F6F1;
 	padding: 5px;
}



h2 {
	font-family: 'Oswald', sans-serif;
    color: #233226;
    text-align: center;
    }

p {
    font-family:'EB Garamond';
    color: #233226;
}

table {
    font-family: 'Oswald';
    font-size: .9em;
    background-color: #b1cdaf;
    padding: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.pictures {
	background-color: #F5F6F1;
	text-align: left;
	font-size: 30px;
	color: #233226;
}

.row {
	flex-wrap: wrap;
	display: flex;
	align-items: center;
	justify-content: center;
}

.column {
	padding: 25px;
}

td {
    text-align: left;
    font-family: 'EB Garamond', serif;
}

.left {
	text-align: right;
}

.right {
	text-align: left;
}

th {
    text-align: center;
		padding: 20px;
}

ul {
    list-style: none;
}

.listing {
    font-family: 'EB Garamond';
    color: #3b5b49;
    text-align: center;
    list-style-type: none;
		margin-top: 40px;
		margin-bottom: 40px;
}

.listing li {
	display: inline-flex;
	font-size: .9em;
	padding: 10px;
}

.socials{
	display: inline-block;
	text-align: center;
}

a:link {
    color: #233226;
}

a:visited {
    color: #513d2b;
}

a:hover {
    color: #948e73;
}

.contact {
	text-align: center;
	padding: 40px;
}


